<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="CanonicalHostName">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^coderdojomena.org$" />
					</conditions>
					<action type="Redirect" url="http://www.coderdojomena.org/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
